@import 'fonts.scss';
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Raleway';
}
/*-----------------------------------Header--------------------*/
  .header {
    background: url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 2rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    font-family: 'Hind';
    
}
.logo__link {
    color: #fff;
    letter-spacing: 0.3rem;
    text-decoration: none;
    transition: color 2.5s ease;
    
    &:hover {
       color: #03fcad;
    }
} 
/* -----------------MENU STYLES-------- */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .toggler {
   position: absolute;
    //top: 0;
    //left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    appearance: none;;
  }
  
.hamburger {
    position: absolute;
    //top: 0;
    //left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgba(13, 110, 139, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .hamburger__lines{
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .hamburger__lines::before,
  .hamburger__lines::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Moves Line Down */
  .hamburger__lines::after {
    top: 10px;
  }
  
  /* Toggler Animation */
    .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
    .toggler:checked + .hamburger > div::before,
    .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: .75s;
  }
  
  .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    & ul {
      display: flex;
      flex-direction: column;
    }
  }
  
  .menu-show {
    background: rgba(24, 39, 51 , 0.85);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu > div > div {
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu__item {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu__link {
    color: inherit;
    text-decoration: none;
    transition: color .4s ease;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'Hind';
    color: #fff;
    &:hover {
      color: #03fcad;
    }
  } 