@import './setings/fonts.scss';
@import './elements/elements.scss';
@import './generic/generic.scss';
@import './components/header/logo.scss';
@import './components/header/menu.scss';
@import './components/header/slider__btn.scss';
@import './components/section/section__header.scss';
@import './components/section/cards.scss';

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .slidershow{
    margin-top: 20%;
    width: 768px;
    overflow: hidden;
}
.logo {
    font-size: 4.6rem;
}
.navigation{
  margin-top: 10%;
}
}

