.header {
    background: url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
}
.container {
    max-width: 340px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 10rem;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    font-family: 'Hind';
    
}
.logo__link {
    color: #fff;
    letter-spacing: 0.3rem;
    text-decoration: none;
    transition: color 2.5s ease;
    transition: 1.5s linear;
    
    &:hover {
       color: #03fcad;
       transform: scale(1.2); 
    }
} 